{% load wagtailimages_tags %}


<section id="lawyer">
  <div class="wrapper">
    <div class="lawyer_card">
      <div class="lawyer_image">
        {% image page.lawyer_image fill-530x705%}
      </div>
      <div class="lawyer_about">
        <div style="border-bottom: 1px solid var(--Dark-blue, #232B4B);" class="title">
          <h1>{{ page.title }}</h1>
          <p>{{ page.experience }}</p>
          <button class="card_employee-button-request popup_start">Записаться</button>
        </div>

        <div class="role">
          <h2>Должность</h2>
          <p>{{ page.role }}</p>
        </div>

        <div class="reg_num_block">
          <h2>Регистрационный номер</h2>
          <div class="reg_num">
            <p>{{ page.reg_num }}</p>
            {% comment %} {{ page.content_type.model }} {% endcomment %}
          </div>
        </div>

        <div class="tags_block">
          <h2>Специализация</h2>
          <ul class="tags">
            {% for tag in page.tags.all %}
              <li class="tag">{{ tag.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {{ page.content }}
  </div>
</section>
