{% load static %}
{% load wagtailimages_tags %}
{% load team_tags %}
{% get_team page as team %}


<section id="team_block">
<section id="team">
    <div class="team_header-container">
      <h1>Команда</h1>
    </div>

  </section>


  <section id="team_cards"> 
    <div class="scroll-container">

      {% for lawyer in team %}
      <div class="card">
        <div class="card_employee-img">
          {% image lawyer.lawyer_image fill-310x413%}
        </div>
        <div class="card_employee-about">
          <div class="card_employee-text">
            <h2>{{lawyer.title}}</h2>
            <h3>{{lawyer.role}}</h3>
            <p>{{lawyer.short_description | safe}}</p>
          </div>
          <div class="card_employee-accordion">
            Развернуть
            <div class="accordion-pointer">
              <img src="{% static 'home/images/team/pointer.svg' %}" alt="">
            </div>
          </div>
          <div class="card_employee-buttons">
            <button onclick="window.location.href='{{lawyer.url}}'" class="card_employee-button-info">Подробнее</button>
            <button class="card_employee-button-request">Записаться</button>
          </div>
        </div>

      </div>
      {% endfor %}

      {% comment %} <div class="card">
        <div class="card_employee-img">
          <img class="card_employee-img" src="{% static 'home/images/team/persons/kultanova.png' %}" alt="">
        </div>
       
      </div>
      <div class="card">
        <div class="card_employee-img">
          <img src="{% static 'home/images/team/persons/vladimirov.png' %}" alt="">
        </div>
        <div class="card_employee-about">
          <div class="card_employee-text">
          <h2>Владимиров Алексей Владиславович</h2>
          <h3>Адвокат по гражданским и уголовным делам</h3>
          <p>Член Адвокатской  Палаты г. Санкт-Петербурга .</p>
          <p>Специализация: 
            <br>- ведение уголовных дел различной категории (преступлений в сфере экономики и общеуголовной направленности); 
            <br>- жилищное право; 
            <br>- сопровождение сделок с недвижимостью; 
            <br>- арбитраж ; корпоративное право и др. 
            <br>Имею многолетний опыт работы в правоохранительных органах, 
            общий юридический стаж более 20 лет,  мой опыт и знания в области юриспруденции 
            позволяет эффективно решать юридические вопросы и добиваться лучшего результата 
            для клиента (доверителя).</p>

          </div>
            <div class="card_employee-accordion">
              Развернуть
              <div class="accordion-pointer">
                <img src="{% static 'home/images/team/pointer.svg' %}" alt="">
              </div>
            </div>
            <div class="card_employee-buttons">
              <button class="card_employee-button-info">Подробнее</button>
              <button class="card_employee-button-request">Записаться</button>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card_employee-img">
          <img src="{% static 'home/images/team/persons/chernyh.png' %}" alt="">
        </div>
        <div class="card_employee-about">
          <div class="card_employee-text">
            <h2>Черных Юрий <br>Васильевич</h2>
            <h3>Адвокат по уголовным делам</h3>
            <p>Член Адвокатской  Палаты г. Санкт-Петербурга</p>
            <p>Более 20 лет работы в органах предварительного следствия МВД России. 
              Занимал руководящие должности. Специализация: ведение уголовных дел различной 
              категории ( преступлений в сфере экономики и общеуголовной направленности). 
              Специализируюсь только по уголовным делам, наработанные годами знания и опыт 
              позволяют осуществлять успешную защиту своих доверителей и оказывать им  
              квалифицированную юридическую помощь на всех стадиях уголовного процесса по любым 
              видам преступлений.</p>
            </div>
              <div class="card_employee-accordion">
              Развернуть
              <div class="accordion-pointer">
                <img src="{% static 'home/images/team/pointer.svg' %}" alt="">
              </div>
            </div>
            <div class="card_employee-buttons">
              <button class="card_employee-button-info">Подробнее</button>
              <button class="card_employee-button-request">Записаться</button>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card_employee-img">
          <img src="{% static 'home/images/team/persons/sharova.png' %}" alt="">
        </div>
        <div class="card_employee-about">
          <div class="card_employee-text">
          <h2>Шарова Ксения <br>Алексеевна</h2>
          <h3>Адвокат по уголовным делам</h3>
          <p>Член Адвокатской  Палаты г. Санкт-Петербурга </p>
          <p>Специализация: 
            <br>- Ведение уголовных дел различной категории. 
            <br>Более 13 лет работы в органах предварительного следствия МВД России.  
            Мой многолетний опыт работы и глубокие знания уголовно
            - процессуального законодательства помогаю мне добиться наилучшего результата для своих доверителей, 
            даже по самым сложным уголовным делам, обеспечить им максимально эффективную защиту 
            на всех стадиях уголовного преследования.</p>

            </div>
            <div class="card_employee-accordion">
              Развернуть
              <div class="accordion-pointer">
                <img src="{% static 'home/images/team/pointer.svg' %}" alt="">
              </div>
            </div>
            <div class="card_employee-buttons">
              <button class="card_employee-button-info">Подробнее</button>
              <button class="card_employee-button-request">Записаться</button>
            </div>
        </div>
      </div> {% endcomment %}
      <!-- Добавьте больше карточек по необходимости -->
    </div>
  </section>
</section>